/*resetar o css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  }

/*fonte da programação*/
body *{
    font-family: 'Exo 2', sans-serif;
    color: blanchedalmond;
}
/*imagem de fundo*/
body {
  background-image: url(./imagens/ceu\ estrelado.jpg);
  background-repeat: no-repeat;
  background-position:top center;
  background-size: 1740px 1000px;
  
}
/*espessura da fonte*/

#caixa {
  border: 1px solid red;
  /*padronizar o maximo da escala de largura*/
  width: 100%;
  max-width: 560px;

  /* o padding serve para poder centralizar em baixo como 0 que não muda nada e nas laterais com 24 que 
  padroniza as duas, automaticamente toda a pagina segue o padrão e não precisa alterar manual dps todas, pois, 
  o container padroniza.*/
  padding: 0 24px;
  margin: 56px auto 0px;
  
}

#ceu {
  border: 1px solid red;
  /*tamanho da "caixa"*/
  padding: 24px;
  
}

#ceu img{
  width: 112px;

  display: block;
  margin: auto;
}

#ceu p {
  font-weight: 500;
  /* espaço entre a escrita e a imagem*/
  line-height: 24px;
  margin-top: 24px;
  /*centralizar a escrita*/
  text-align: center;
}

